.aside {
  background-color: $white-color-alpha;

  &__container {
    margin: 0 10%;
    padding: 1rem 0;
  }
}

.recent-posts {

  &__title {
    text-align: center;
    margin: 1rem 0;
  }

  &__post {
    border-bottom: 1px solid $darkgrey-color;
    padding: 0.5rem 0;

    &--title {
      margin-bottom: 0;
    }
  }

  &__date {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.tags {

  &__title {
    text-align: center;
    margin: 1.5rem 0;
  }

  &__paragraph {
    margin: 0;
  }

  &__link {
    margin-right: 0.2rem;
  }
}

.links {

  &__title {
    text-align: center;
    margin: 1.5rem 0;
  }

  &__list {
    list-style: none;
    margin: 0;

    &--margin {
      margin: 0;
    }
  }
}