.footer {
  background-color: $darkgrey-color-alpha;
  color: $white-color;

  &__container {
    margin: 0rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__links {
    flex: 0 1 10%;
  }
}

.social-media {

  &__title {
    text-decoration-line: underline;
  }
  
  &__list {
    margin: 0.5rem 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__link {
    margin: 0 0.5rem 0 0;
  }

  &__icon {
    color: $white-color-alpha3;
    @include transition-basic;
    cursor: pointer;
    
    &:focus,
    &:hover {
      color: $white-color;
    }

    &--color {
      color: $darkgrey-color-alpha2;

      &:focus,
      &:hover {
        color: $darkgrey-color;
      }  
    }
  }
}

.inner-links {
  text-align: left;

  &__list {
    list-style: none;
    margin: 0.5rem 0;
  }

  &__link {

    margin: 0;
    
    &--link {
      color: $white-color;
    }
  }
}

.site-bottom {
  border-top: 1px solid $white-color;
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 0;

  &__link {
    margin: 0 0.1rem;
    color: $white-color;
  }
}

@import './newsletter-form.scss';