.header {
  background-color: $white-color-alpha2;

  &__container {
    margin: 0 10%;
    padding: 20vh 0 1vh;
  }

  &__title {
    color: $white-color;
    text-shadow: 3px 3px $darkgrey-color-alpha;
    font-size: 1.6rem;
    font-weight: bold;

    &--size {
      font-size: 1.1rem;
    }

    &--align {
      text-align: right;
    }
  }
}