.main {
  background-color: $white-color-alpha;

  &__container {
    margin: 0 10%;
    padding: 1rem 0;
  }

  &__paragraph {
    text-align: center;
  }
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &__button {
    width: 5rem;
    margin: 0.1rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
}

.about,
.contact {

  &__title {
    margin: 1rem 0 3rem;
  }
}

@import './contact-form.scss';
@import './post-card.scss';