.main {
  background-color: $white-color-alpha;

  &__container {
    margin: 0 10%;
    padding: 1rem 0;
  }
}

.about,
.contact {

  &__title {
    margin-top: 1rem;
  }
}

@import './post-card.scss';