// || Simple reset
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/background-stars-540w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@import './config/mixins';
@import './config/variables';
@import './components/navbar';
@import './components/header';
@import './components/main';
@import './components/aside';
@import './components/footer';
@import './404';
@import './components/rwd';