// || Simple reset
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 128, 1);
  background: url(https://images.unsplash.com/photo-1447433693259-c8549e937d62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1777&q=80);
}

@import './config/mixins';
@import './config/variables';
@import './components/navbar';
@import './components/header';
@import './components/main';
@import './components/aside';
@import './components/footer';
@import './components/rwd';