$darkgrey-color: rgba(67, 75, 77, 1);
$darkgrey-color-alpha: rgba(67, 75, 77, 0.9);
$white-color: rgba(255, 255, 255, 1);
$white-color-alpha: rgba(255, 255, 255, 0.9);
$white-color-alpha2: rgba(255, 255, 255, 0.2);